body {
	font-family: arial, sans-serif;
}

.top-part{
	height: 60px;
	text-align: right;
}

.header{
	width:640px;
	height: 22px;
	color:#d93025;
	font-size: 20px;
	margin: 25px 35px;
}

.mainbody{
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
    margin-top: 40px;
    margin-right: 2%;
    margin-bottom: 0px;
    margin-left: 45px;
}

.wholearea{
	width: 100%;
	clear: both;
}

.clearcode{
	clear: both;
}

.textfield{
	float: left;
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
    vertical-align: middle;
}

.textlabel{
	height: 30px;
    display: table-cell;
    vertical-align: middle;
}

.inputarea{
	float: left;
    display: inline-block;
    min-width: 167px;
    min-height: 41px;
    vertical-align: middle;
    width: 50%;
}

input[type="text"]{
	border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
	width: 75%;
    text-align: left;
}

.submitbutton{
	height: 30px;
	min-width: 120px;
	float: right;
	margin: 10px 0;
	padding: 0 12px;
	background-color: #4d90fe;
	border: 1px solid #3079ed;
	color: #fff;
}

html, body, div, span, label, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}