html {
  height: 100%;
  width: 100%;
}

h1 {
  font-family:Ubuntu;
  text-align: center;
}

body {
  font-family: lora;
  background: rgb(246,212,226);
  background: linear-gradient(90deg, rgba(246,212,226,0.804359243697479) 0%, rgba(200,0,14,0.3785889355742297) 100%);
}

.skip-link {
  position: absolute;
  left: -9999px;
}

.skip-link:focus {
  background-color: red;
  position:static;      
}

.navmenu {
  display: flex;
  justify-content: space-evenly;
  background-color: #333333;;
  padding: 10px;
  list-style-type: none;
  text-decoration: none;
  width: 100%;
}

.navmenu a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 16px;
}

.navmenu a:hover {
  background-color: #111111;
  border: 2px solid #FAF9F6;
  text-decoration: none;
}

#main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;
  border: 3px solid ;
  border-radius: 2px;
}

.divider {
  background-color: #333333;
  color: white;
  padding: 10px;
  margin: 20px;
  border: 3px black;
  border-radius: 5px;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.footerlink {
  text-decoration: none;
  color:white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  padding: 10px;
}

.grid-item > img {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  width: 60%;
}

.experiment {
  align-items: center;
  padding-left: 150px;
}

.grid-item:nth-child(odd) {
  border-radius: 50px;
}
